# Dependencies
node_modules/
.pnp/
.pnp.js

# Build output
dist/
build/
.out/
.vite/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Env files
.env
.env.*
.env.*.local

# OS / Editor
.DS_Store
Thumbs.db

# Vercel
.vercel

# Misc
*.pem
*.tsbuildinfo
.eslintcache
